<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Vehicle Registry{% endblock %}</title>

    {% stylesheets
    '@vendor_css'
    '@vehicle_registry_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    <style>
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="/">
                Vehicle Registry alpha
            </a>
            {{ knp_menu_render('main') }}
        </div>
        <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
        <div class="nav-right nav-menu">
            {{ knp_menu_render('mobile') }}
            {{ knp_menu_render('user') }}
        </div>
    </div>
</nav>
<div id="wrapper">
{% block body %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Vehicle Registry</strong>.
            </p>
            <p>
                <a class="icon" href="https://gitlab.com/jimlei/vehicle-registry">
                    <i class="fa fa-gitlab"></i>
                </a>
            </p>
        </div>
    </div>
</footer>

{% javascripts
'@vendor_js'
'@vehicle_registry_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
