{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Vehicle Registry
                </h1>
                <h2 class="subtitle">
                   {{ 'subtitle'|trans }}
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">

            </div>
        </div>
    </section>
{% endblock %}