{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ model.title }}
                </h1>
                <h2 class="subtitle">
                    {{ model.subtitle }}
                </h2>
                <p>
                    {{ model.description }}
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('index') }}">
                        {{ 'home'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('make_list', {'slug': model.make.slug}) }}">
                        {{ model.make.title }}
                    </a>
                </li>
                <li class="is-active">{{ model.title }}</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div id="item-list">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-5">
                                <strong id="count">0/0</strong>
                                {{ 'vehicles'|trans }}
                            </p>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <p class="control">
                                    <input class="input search" type="text" placeholder="{{ 'search'|trans }}">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="level-right">
                        {% if is_granted('addVehicle', model) %}
                            <p class="level-item">
                                <a class="button is-primary is-large" href="{{ path('vehicle_create', {'modelSlug': model.slug}) }}" title="{{ 'button.vehicle.add'|trans }}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </nav>
                <table class="table">
                    <thead>
                    <th>{{ 'year'|trans }}</th>
                    <th>{{ 'model'|trans }}</th>
                    <th>{{ 'vin'|trans }}</th>
                    <th>{{ 'location'|trans }}</th>
                    </thead>
                    <tbody class="list">
                    {% for vehicle in model.vehicles %}
                        <tr>
                            <td>{{ vehicle.year }}</td>
                            <td class="model">{{ model.make.title }} {{ model.title }}</td>
                            <td class="monospaced vin">
                                <a href="{{ path('vehicle_single', {'modelSlug': model.slug,'vin': vehicle.vin}) }}">
                                    {{ vehicle.vin }}
                                </a>
                            </td>
                            <td class="location">unknown</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        var list = new List('item-list', options = {
            valueNames: ['model', 'vin', 'location']
        });

        updateCount();

        list.on('updated', function(list) {
            updateCount();
        });

        function updateCount() {
            document.getElementById('count').innerText = list.matchingItems.length + '/' + list.items.length;
        }
    </script>
{% endblock %}