{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Vehicle Registry
                </h1>
                <h2 class="subtitle">
                   {{ 'subtitle'|trans }}
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for make in makes %}
                    <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                        <a href="{{ path('make_single', {'slug': make.slug}) }}">
                            {{ make.title }}
                        </a>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </section>
{% endblock %}