{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ make.title }}
                </h1>
                <h2 class="subtitle">
                    {{ make.description }}
                </h2>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('index') }}">
                        {{ 'home'|trans }}
                    </a>
                </li>
                <li class="is-active">{{ make.title }}</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
            {% for model in make.models %}
                <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                    <a href="{{ path('model_single', {'slug': model.slug}) }}">
                        {{ model.title }}
                    </a>
                </div>
            {%  endfor %}
            </div>
        </div>
    </section>
{% endblock %}