{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ 'add-new'|trans }} {{ model.make.title }} {{ model.title }}
                </h1>
                <h2 class="subtitle">
                    Add a new vehicle to the registry, thank you for contributing!
                </h2>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('index') }}">
                        {{ 'home'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('make_single', {'slug': model.make.slug}) }}">
                        {{ model.make.title }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('model_single', {'slug': model.slug}) }}">
                        {{ model.title }}
                    </a>
                </li>
                <li class="is-active">{{ 'new'|trans }}</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="button is-primary is-large">{{ 'add-new'|trans }}</button>
            <a class="button modal-cancel-button">{{ 'cancel'|trans }}</a>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}