{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ vehicle.year }} {{ vehicle.model.make.title }} {{ vehicle.model.title }}
                </h1>
                <h2 class="subtitle">
                    {{ vehicle.vin }}
                </h2>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('index') }}">
                        {{ 'home'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('make_single', {'slug': vehicle.model.make.slug}) }}">
                        {{ vehicle.model.make.title }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('model_single', {'slug': vehicle.model.slug}) }}">
                        {{ vehicle.model.title }}
                    </a>
                </li>
                <li class="is-active">{{ vehicle.vin }}</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-half">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="title is-2">
                                    {{ 'spesifications'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-primary is-outlined modal-toggle" data-modal="editSpesifications">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">

                        {% for category in ['engine', 'suspension', 'wheels', 'interior', 'exterior'] %}
                            {% if attribute(vehicle, category) %}
                                <p class="title is-4 is-marginless">
                                    {{ category|capitalize|trans }}
                                </p>
                                <p>
                                    {{ attribute(vehicle, category)|nl2br }}
                                </p>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div class="column is-offset-3">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <h2 class="title">
                                    {{ 'observations'|trans }}
                                </h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-primary is-outlined" title="{{ 'button.observation.add'|trans }}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="modal" id="editSpesifications">
        <div class="modal-background"></div>
        <div class="modal-card">
            {{ form_start(spesificationForm) }}
            <header class="modal-card-head">
                <p class="modal-card-title">{{ 'spesifications'|trans }}</p>
                <button class="delete modal-close-button"></button>
            </header>
            <section class="modal-card-body">
                {{ form_widget(spesificationForm) }}
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary is-large">{{ 'save'|trans }}</button>
                <a class="button modal-cancel-button">{{ 'cancel'|trans }}</a>
            </footer>
            {{ form_end(spesificationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var spesificationModal = document.getElementById('editSpesifications'),
            spesificationModalCancelButton = spesificationModal.getElementsByClassName('modal-cancel-button')[0];

        spesificationModalCancelButton.addEventListener('click', toggleCancelModalHandler);

        function toggleCancelModalHandler(event)
        {

        }

        var galleryUpload = document.getElementById('gallery-upload')

        var myDropzone = new Dropzone('#gallery-upload', {
            url: galleryUpload.getAttribute('data-url'),
            init: function() {
                this.on("sending", function(file, xhr, formData){
                    formData.append("vehicleId", galleryUpload.getAttribute('data-vehicle-id'));
                });
            }
        });
    </script>
{% endblock %}