/* FIXED FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

.slider {
    height: 267px;
}

/* USED FOR VINS */
.monospaced {
    font-family: "Courier New", Courier, monospace;
}

ul.breadcrumb{
    display: block;
    padding: 1rem 1rem 1rem 0
}
ul.breadcrumb li{
    display: inline-block;
}
ul.breadcrumb li.is-active{
    color: #848484;
}
ul.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #848484;
    content: "/\00a0";
}

/* Lory slider */
.slider {}

.slider .frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slider .slides {
    display: inline-block;
}

.slider .nav {
    position: absolute;
    top: 0%;
    z-index: 2;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.slider .nav.right {
    right: 0;
}

.slider .nav:hover {
    background-color: #00d1b2;
}

.slider li {
    position: relative;
    display: inline-block;

    /**
     * (optional) if the content inside the slide element has a defined size.
     */
    width: 400px;
}

.modal.image .modal-content {
    max-width: 90%;
    max-height: 90%;
    width: 100%
}

.modal.image img {
    width: 100%;
    height: 100%;
}